recursive-include pretalx_vimeo/static *
recursive-include pretalx_vimeo/templates *
exclude pretalx_vimeo/locale/django.pot
recursive-exclude assets *.png
recursive-include pretalx_vimeo/locale *
recursive-include pretalx_vimeo *.py
include justfile
